
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    font-family: Inconsolata;
}

body {
    background: white;
}

.hero {
    background: transparent;

}
  
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}
  
.hero .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}
  
.hero .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
  
.hero .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
  
.hero .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
  
.hero-image {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
}
  
.wrapper > p,
.wrapper > h1 {
    margin: 2rem 0;
    text-align: center;
}
  
.wrapper > h1 {
    letter-spacing: 3px;
    color: white;
    padding-top: 30px;
}
  
.accordion {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
  
.accordion i {
    font-size: 1.6rem;
}
  
.active,
.accordion:hover {
    background-color: #282a29;
}

.panel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #282a29;
    display: none;
}

.panel p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
  
.faq {
    margin: 10px 0;
}

.faq-container {
    background: black;
    min-height: 85vh;
    padding-bottom: 20px;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem calc((100vw - 1300px) / 2);
    align-items: center;
}
  
.contact-info {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.contact-info h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
  
.contact-info p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
  
.contact-form {
    padding: 2rem;
}

.contact-form h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
  
.contact-form form {
    display: grid;
    gap: 1rem;
}
  
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}
  
.contact-form button {
    background: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    color: #6e5afd;
    border: 1px solid #6e5afd;
    transition: 0.4s linear;
    cursor: pointer;
}
  
.contact-form button:hover {
    color: white;
    background: #6e5afd;
}

.contact-form textarea {
    resize: vertical; 
    min-height: 100px;
    max-height: 300px;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #493ca7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
    z-index: 9999;
}
  
.scroll-to-top-button.show {
    opacity: 1;
    visibility: visible;
}
  
.scroll-to-top-button:hover {
    background-color: #6e5afd;
}

@media (max-width: 600px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

    .contacts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 3rem calc((100vw - 1300px) / 2);
        align-items: center;
        max-width: 1300px;
        width: 90%;
    }

}

.about-me {
    padding: 3rem;
    margin-top: 3rem;
}
  
.about-me-container {
    display: flex;
}
  
.about-me-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.about-me-header h2 {
    font-size: 2rem;
}
  
.about-me-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.about-me-content h3 {
    font-size: 2rem;
}
  
.about-me-content p {
    margin-top: 1rem;
}

.main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-background {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
}
