
footer {
    height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner-footer {
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer .copyright {
    display: table;
    height: 100%;
    float: left;
    color: white;
    font-weight: bold;
}

footer .copyright div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

footer .social {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

footer .social li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

footer .social li:last-of-type {
    margin-right: 0;
}

footer .social span {
    display: table-cell;
    vertical-align: middle;
}

footer .social a {
    position: relative;
    color: rgba(255, 255, 255, 0.35);
    border: 1px solid transparent;
    border-radius: 100px;
    transition: 0.3s;
    padding: 10px;
}

footer .social p {
    position: relative;
    color: rgba(255, 255, 255, 0.35);
    border: 1px solid transparent;
    border-radius: 100px;
    transition: 0.3s;
}

footer .social a:hover {
    color: black;
    border: 1px solid white;
    background: white;
}

footer .social p:hover {
    color: black;
    border: 1px solid white;
    background: white;
}

.dialog-box {
    display: none;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 10px;
    background-color: #6e5afd;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 120px;
    border-radius: 5px;
    z-index: 2;
}
  
.discord-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}